.latestArticles {
    padding: 4rem 1rem;
    background-color: #f9f9f9;
    text-align: left;
}

.latestArticles h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #2d314d;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.articleCard {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
}

.articleCard:hover {
    transform: translateY(-5px);
}

.articleCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.articleCard h3 {
    font-size: 1.2rem;
    margin: 1rem;
    color: #2d314d;
}

.articleCard p:first-of-type {
    font-size: 0.9rem;
    margin: 0 1rem;
    color: #7b8794;
}

.articleCard p:last-of-type {
    font-size: 0.9rem;
    margin: 1rem;
    color: #4a4e69;
}
